{% extends 'base.html' %}

{% block content %}
<!-- Designer first row -->

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="design/create" method="post">
                {% csrf_token %}
                <div id="firstFormPart">
                    <strong><h6 class="mb-4">Operation Params</h6></strong>
                    <div class="input-field mb-2">
                        <label class="active" for="tankHeight">Tank Height (m)</label>
                        <input type="text" class="form-control validate" name="tankHeight" id="tankHeight" value="3" required>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="tankRadius">Tank Radius (m)</label>
                        <input type="text" class="form-control" name="tankRadius" id="tankRadius" value="1.5" required>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="workingTemperature">Temperature (Kº)</label>
                        <select class="form-control" name="workingTemperature" id="workingTemperature" required>
                            <option value="">Select Temperature</option>
                            <option value="98" selected>98</option>
                            <option value="108">108</option>
                            <option value="118">118</option>
                            <option value="128">128</option>
                            <option value="138">138</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="workingPressure">Pressure (atm)</label>
                        <select class="form-control" name="workingPressure" id="workingPressure" required>
                            <option value="">Select Pressure</option>
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="10" selected>10</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <strong><h6 class="mb-2">Cloak Design</h6></strong>
                    <div class="form-group mb-2">
                        <label class="active" for="cloakPressureDesign">Design Pressure (lbs/inch2)</label>
                        <select class="form-control" name="cloakPressureDesign" id="cloakPressureDesign" required>
                            <option value="44.26">44.26</option>
                            <option value="54.26">54.26</option>
                            <option value="64.26">64.26</option>
                            <option value="74.26">74.26</option>
                            <option value="84.26" selected>84.26</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="externalClockRadius">External Cloak Radius (inches)</label>
                        <input type="text" class="form-control" name="externalClockRadius" id="externalClockRadius" value="38.03" required>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="workingEffortAdmissibleAcerInoxTemp">Working effort admissible (ACERINOX AISI 304 vs temp) (lbs/inch2)</label>
                        <input type="text" class="form-control" name="workingEffortAdmissibleAcerInoxTemp" id="workingEffortAdmissibleAcerInoxTemp" value="18800" required>
                    </div>
                    <div class="form-group mb-2">
                        <label class="active" for="efficiencyOfTheWeldedJoin">Efficiency of the welded join</label>
                        <input type="text" class="form-control" name="efficiencyOfTheWeldedJoin" id="efficiencyOfTheWeldedJoin" placeholder="Efficiency of the welded join" value="0.85" required>
                    </div>
                    <strong><h6 class="mb-2">Domus Design</h6></strong>
                    <div class="form-group mb-1">
                        <label class="active" for="domusPressureDesign">Design Pressure (lbs/inch2)</label>
                        <select class="form-control" name="domusPressureDesign" id="domusPressureDesign"  required>
                            <option value="44.26">44.26</option>
                            <option value="54.26">54.26</option>
                            <option value="64.26">64.26</option>
                            <option value="74.26">74.26</option>
                            <option value="84.26" selected>84.26</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label class="active" for="externalDomusRadius">External Domus Radius (inches)</label>
                        <input type="text" class="form-control" name="externalDomusRadius" id="externalDomusRadius" placeholder="External Domus Radius" value="38.0315" required>
                    </div>
                </div>
                <div id="secondPartForm" class="d-none">
                    <strong><h6 class="mb-2">Thermal Design</h6></strong>
                    <div class="form-group">
                        <label class="active" for="tEnvironment">T Environment (Cº)</label>
                        <input type="text" class="form-control" name="tEnvironment" id="tEnvironment" value="35" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="tNitro">T Nitro (Cº)</label>
                        <input type="text" class="form-control" name="tNitro" id="tNitro" value="-196" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="K1">K1 parameter</label>
                        <input type="text" class="form-control" name="K1" id="K1" value="9.2" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="K2">K2 parameter</label>
                        <input type="text" class="form-control" name="K2" id="K2"  value="60.5" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="Kisolation">Kisolation parameter</label>
                        <input type="text" class="form-control" name="Kisolation" id="Kisolation" value="0.016" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="R1int">Radius1 Intern (m)</label>
                        <input type="text" class="form-control" name="R1int" id="R1int" placeholder="R1int (m)" value="0.96" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="R1ext">Radius1 Extern (m)</label>
                        <input type="text" class="form-control" name="R1ext" id="R1ext" placeholder="R1ext (m)" value="0.966" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="R2int">Radius2 Intern (m)</label>
                        <input type="text" class="form-control" name="R2int" id="R2int" placeholder="R2int (m)" value="1.108" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="R2ext">Radius2 Extern (m)</label>
                        <input type="text" class="form-control" name="R2ext" id="R2ext" placeholder="R2ext (m)" value="1.120" required>
                    </div>
                    <div class="form-group">
                        <label class="active" for="Lc">Lc (m)</label>
                        <input type="text" class="form-control" name="Lc" id="Lc" placeholder="Lc (m)" value="4.55" required>
                    </div>

                </div>
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-1"></div>
                        <div class="col-4">
                            <button id="backButton" class="btn #fafafa grey lighten-5 text-black w-100" type="button" onclick="backFisrtFormPart()">Back</button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4">
                            <button id="nextButton" class="btn btn-primary w-100" type="button" onclick="displaySecondFormPart()">Next</button>
                            <button id="submitButton" class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 text-center">
            {% load static %}
            <img src="{% static 'img/tankDiagram.png' %}" alt="tankDiagramImage" style="height: 32%; padding-left:25%">
            <img src="{% static 'img/tankHeatDiagram.png' %}" alt="tankHeatDiagramImage" style="margin-top: 50px; height: 27%; padding-left:20%">
        </div>
    </div>
</div>

<script>
    var firstFormPart = document.getElementById("firstFormPart");
    var secondPartForm = document.getElementById("secondPartForm");
    var nextButton = document.getElementById("nextButton");
    var backButton = document.getElementById("backButton");
    var submitButton = document.getElementById("submitButton");

    // Initial layout
    secondPartForm.classList.add("d-none");
    backButton.classList.add("d-none");
    submitButton.classList.add("d-none");

    function displaySecondFormPart() {
        firstFormPart.classList.add("d-none");
        secondPartForm.classList.remove("d-none");
        nextButton.classList.add("d-none");
        backButton.classList.remove("d-none");
        submitButton.classList.remove("d-none");
}

function backFisrtFormPart() {
        firstFormPart.classList.remove("d-none");
        secondPartForm.classList.add("d-none");
        nextButton.classList.remove("d-none");
        backButton.classList.add("d-none");
        submitButton.classList.add("d-none");
}

</script>

{% endblock %}
