{% extends 'base.html' %}

{% block content %}
<!-- Recalculate -->
<div class="container">
    <div class="row">
        <div class="col-6">
                <h5>Calculation Results</h5>
                <table class="table responsive-table">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Volume (V)</td>
                            <td>{{ results.v }}</td>
                        </tr>
                        <tr>
                            <td>Moles of Nitrogen (n)</td>
                            <td>{{ results.n }}</td>
                        </tr>
                        <tr>
                            <td>Mass of Nitrogen (m) [kg]</td>
                            <td>{{ results.m }}</td>
                        </tr>
                        <tr>
                            <td>Metallic Weight [kg]</td>
                            <td>{{ results.metallic_weight }}</td>
                        </tr>
                        <tr>
                            <td>Isolating Material Weight [kg]</td>
                            <td>{{ results.isolating_material_weight }}</td>
                        </tr>
                        <tr>
                            <td>Empty Tank Weight [kg]</td>
                            <td>{{ results.empty_tank_weight }}</td>
                        </tr>
                        <tr>
                            <td>Full Tank Weight [kg]</td>
                            <td>{{ results.full_tank_weight }}</td>
                        </tr>
                        <tr>
                            <td>Cloak Thickness [inches]</td>
                            <td>{{ results.t_cloak_inches }}</td>
                        </tr>
                        <tr>
                            <td>Cloak Thickness [mm]</td>
                            <td>{{ results.t_cloak_mm }}</td>
                        </tr>
                        <tr>
                            <td>Domus Thickness [inches]</td>
                            <td>{{ results.t_domus_inches }}</td>
                        </tr>
                        <tr>
                            <td>Domus Thickness [mm]</td>
                            <td>{{ results.t_domus_mm }}</td>
                        </tr>
                        <tr>
                            <td>Heat Exchange (q)</td>
                            <td>{{ results.q }}</td>
                        </tr>
                    </tbody>
                </table>

                <h5>Design Recalculation</h5>
                <form method="POST" action="{% url 'recalculate' %}">
                    {% csrf_token %}

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="tankHeight">Tank Height</label>
                                    <input type="text" class="form-control" id="tankHeight" name="tankHeight" value="{{ results.tank_height }}" required>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="tankRadius">Tank Radius</label>
                                    <input type="text" class="form-control" id="tankRadius" name="tankRadius" value="{{ results.tank_radius }}" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">
                                    <label for="workingTemperature">W. Temp.</label>
                                    <input type="text" class="form-control" id="workingTemperature" name="workingTemperature" value="{{ results.working_temperature }}" required>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="workingPressure">W. Pressure</label>
                                    <input type="text" class="form-control" id="workingPressure" name="workingPressure" value="{{ results.working_pressure }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100">Recalculate</button>
                            </div>

                        </div>

                </form>

        </div>
       <div class="col s6 text-center">
            {% load static %}
            <img src="{% static 'img/tankDiagram.png' %}" alt="tankDiagramImage" style="height: 32%; padding-left:25%">
            <img src="{% static 'img/tankHeatDiagram.png' %}" alt="tankHeatDiagramImage" style="margin-top: 50px; height: 27%; padding-left:20%">
        </div>
    </div>
</div>
{% endblock %}
