{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Tank Properties</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tank Height</td>
                        <td>{{ results.tank_height }}</td>
                    </tr>
                    <tr>
                        <td>Tank Radius</td>
                        <td>{{ results.tank_radius }}</td>
                    </tr>
                    <tr>
                        <td>Working Temperature</td>
                        <td>{{ results.working_temperature }}</td>
                    </tr>
                    <tr>
                        <td>Working Pressure</td>
                        <td>{{ results.working_pressure }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4>Additional Properties</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cloak Pressure Design</td>
                        <td>{{ results.cloak_pressure_design }}</td>
                    </tr>
                    <tr>
                        <td>External Cloak Radius</td>
                        <td>{{ results.external_cloak_radius }}</td>
                    </tr>
                    <tr>
                        <td>Working Effort Admissible</td>
                        <td>{{ results.working_effort_admissible }}</td>
                    </tr>
                    <tr>
                        <td>Efficiency of Welded Join</td>
                        <td>{{ results.efficiency_of_welded_join }}</td>
                    </tr>
                    <tr>
                        <td>Domus Pressure Design</td>
                        <td>{{ results.domus_pressure_design }}</td>
                    </tr>
                    <tr>
                        <td>External Domus Radius</td>
                        <td>{{ results.external_domus_radius }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6">

            <h3>Thermal and Geometric Properties</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Environment Temperature</td>
                        <td>{{ results.environment_temperature }}</td>
                    </tr>
                    <tr>
                        <td>Nitrogen Temperature</td>
                        <td>{{ results.nitrogen_temperature }}</td>
                    </tr>
                    <tr>
                        <td>K1</td>
                        <td>{{ results.k1 }}</td>
                    </tr>
                    <tr>
                        <td>K2</td>
                        <td>{{ results.k2 }}</td>
                    </tr>
                    <tr>
                        <td>K Isolation</td>
                        <td>{{ results.kisolation }}</td>
                    </tr>
                    <tr>
                        <td>R1 Internal</td>
                        <td>{{ results.r1_int }}</td>
                    </tr>
                    <tr>
                        <td>R1 External</td>
                        <td>{{ results.r1_ext }}</td>
                    </tr>
                    <tr>
                        <td>R2 Internal</td>
                        <td>{{ results.r2_int }}</td>
                    </tr>
                    <tr>
                        <td>R2 External</td>
                        <td>{{ results.r2_ext }}</td>
                    </tr>
                    <tr>
                        <td>LC</td>
                        <td>{{ results.lc }}</td>
                    </tr>
                    <tr>
                        <td>H Ambient</td>
                        <td>{{ results.hamb }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-6">
            <h3>Design Results</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>V (Volume)</td>
                        <td>{{ results.v }}</td>
                    </tr>
                    <tr>
                        <td>n (Moles of Nitrogen)</td>
                        <td>{{ results.n }}</td>
                    </tr>
                    <tr>
                        <td>m (Mass of Nitrogen) [kg]</td>
                        <td>{{ results.m }}</td>
                    </tr>
                    <tr>
                        <td>Metallic Weight [kg]</td>
                        <td>{{ results.metallic_weight }}</td>
                    </tr>
                    <tr>
                        <td>Isolating Material Weight [kg]</td>
                        <td>{{ results.isolating_material_weight }}</td>
                    </tr>
                    <tr>
                        <td>Empty Tank Weight [kg]</td>
                        <td>{{ results.empty_tank_weight }}</td>
                    </tr>
                    <tr>
                        <td>Full Tank Weight [kg]</td>
                        <td>{{ results.full_tank_weight }}</td>
                    </tr>
                    <tr>
                        <td>Cloak Thickness [inches]</td>
                        <td>{{ results.t_cloak_inches }}</td>
                    </tr>
                    <tr>
                        <td>Cloak Thickness [mm]</td>
                        <td>{{ results.t_cloak_mm }}</td>
                    </tr>
                    <tr>
                        <td>Domus Thickness [inches]</td>
                        <td>{{ results.t_domus_inches }}</td>
                    </tr>
                    <tr>
                        <td>Domus Thickness [mm]</td>
                        <td>{{ results.t_domus_mm }}</td>
                    </tr>
                    <tr>
                        <td>Heat Exchange (q)</td>
                        <td>{{ results.q }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
